body {
  font-family: "Oswald", sans-serif;
  text-align: center;
}

header {
  height: 100%;
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top: 3px solid red;
}

h1 {
  color: white;
  font-weight: bold;
  font-size: 54px;
  margin-top: 75px;
}

p {
  color: white;
  font-size: 34px;
  padding-bottom: 30px;
}

header a {
  color: #ffe4b5;
  font-size: 25px;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
}

li {
  list-style: none;
  margin-right: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

li:hover {
  transform: translate(5px, -5px);
  transition: 0.5s;
}

.up:hover {
  transform: translateY(-5px);
  transition: 0.5s;
}

a:hover {
  color: red;
  text-decoration: none;
  transition: 0.5s;
}


h2 {
  color: black;
  margin-top: 35px;
  margin-bottom: 30px;
  font-size: 25px;
}

.portfolio-item {
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 65px;
  border-bottom: 2px solid #8b0000;
  transition: 1s;
}

.portfolio-item a {
  color: black;
  font-size: 30px;
}

.portfolio-item:hover {
  background-color: red;
  border-bottom: 2px solid black;
}

.portfolio-item:hover a {
  color: aliceblue;
  transition: 1s;
}

footer {
  height: 50px;
  margin-top: 55px;
  background-color: #8b0000;
}
